<div class="cards-container">
  <mat-card class="card transactions">
    <div class="col-rigth">
      <mat-card-title>Accept Transactions</mat-card-title>
      <mat-card-subtitle>6</mat-card-subtitle>
    </div>
    <mat-card-content class="col-left">
      <div class="element">
        <p class="title">New</p>
        <p class="details">6</p>
      </div>
      <div class="element">
        <p class="title">Disputed</p>
        <p class="details">0</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card tasks">
    <div class="col-rigth">
      <mat-card-title>Invoice Tasks</mat-card-title>
      <mat-card-subtitle>4</mat-card-subtitle>
    </div>
    <mat-card-content class="col-left">
      <div>
        <div class="element">
          <p class="title">New</p>
          <p class="details">6</p>
        </div>
        <div class="element">
          <p class="title">Delinquent</p>
          <p class="details">0</p>
        </div>
      </div>
      <div>
        <div class="element">
          <p class="title">Disputed</p>
          <p class="details">0</p>
        </div>
        <div class="element">
          <p class="title">Reject</p>
          <p class="details">0</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
