<div class="search-container">
  <div class="input-container">
    <mat-form-field class="form-field">
      <mat-icon id="icon-search" class="icon material-symbols-outlined">search</mat-icon>
      <input matInput class="search-input" placeholder="Search transactions, invoices, cards, or merchants"
        type="search" value="" />
      <mat-icon id="icon-mode-fan" class="icon material-symbols-outlined">mode_fan</mat-icon>
      <mat-icon id="icon-notifications" class="icon material-symbols-outlined">notifications</mat-icon>
    </mat-form-field>
  </div>
  <div class="user">
    {{ user }}
    <img src="" alt="" />
  </div>
</div>
